<div id="registry-modal" class="modal">
	<div class="modal-content">
		<h3>Pide  una demo:</h3>
		<p class="flow-text">Para solicitar la demo de {{#if info.title}}{{info.title}}{{else}}alguno de nuestros productos{{/if}} introduce los siguientes datos:</p>
		<div class="row">
			<div class="input-field col s12 m12 l12">
				<input id="name" type="text" class="validate">
				<label for="name">Nombre completo</label>
			</div>
			<div class="input-field col s12 m12 l12">
				<input id="name" type="text" class="validate">
				<label for="name">email institucional</label>
			</div>

			<div class="input-field col s12 m12 l6 ">
				<select class="browser-default">
					<option value="" disabled selected>Profesion</option>
					<option value="1">Docente</option>
					<option value="2">Consultor</option>
					<option value="3">Empleado</option>
					<option value="3">Directivo</option>
				</select>
			</div>
			<div class="input-field col s12 m12 l6 ">
				<select class="browser-default">
					<option value="" disabled selected>Carrera</option>
					<option value="1">Ing. Civil</option>
					<option value="2">Ing. Ambiental/Sanitaria</option>
					<option value="3">Administración</option>
					<option value="3">Otra</option>
				</select>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea1" class="materialize-textarea"></textarea>
					<label for="textarea1">Tienes Alguna duda o petición en especial? (opcional)</label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close     btn-flat primary-text">Enviar</a>
	</div>
</div>