 <div id="btn-carrito" class="fixed-action-btn" style="bottom: 32px; right: 100px;" >
    <a class="btn-floating  accent " href="#titulo">
      <i class="material-icons">keyboard_arrow_up</i>
    </a>
  </div>