---
title: Gracias por confiar en nosotros

main-img:
    title: "Gracias" 
    subtitle: "Pronto confirmaremos tu pedido"
    img: 	/img/photo/thanks2.jpg
    repeat: false
    cover: true

################### 
#Navigation section
###################
nav:
###################
#main section
###################
description:
    title: ¿Qué ha sucedido?
    text: Nos encontramos procesando tu pedido, proximamente te enviaremos un mensaje para confirmar. Muchas gracias por tu voto de confianza
---

<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	<!-- CSS  -->
	{{>style}}
</head> 		
<body>
	{{>analytics}}
	{{>general/nav info=front.nav}}

	{{>main-img info=front.main-img}}

	{{>landing/description-text info=front.description}}
	{{>footer}}
	<script>
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
			$('select').material_select();
			$('.parallax').parallax({height:700});
	    });
	</script>
	<script src="/js/min.js"></script>
	{{>microdatos}}
	{{>landing/registry-form}}
</body>
</html>