---
title: Inscribete a maravillarte.co


###################
#People
###################
people:
 - title: La Calaca
   action: "#calaca"
   img: /img/type/calaca.jpg
 - title: Oink alcancias
   action: "#oink"
   img: /img/type/oink.jpg
 - title: Boot accesorios
   action: "#boot"
   img: /img/type/boot.jpg
 - title: Arte y vector
   action: "#vector"
   img: /img/screens/caballete.jpg
 - title: Que Lüllada
   action: "#lullada"
   img: https://lh3.googleusercontent.com/8ns2Jxfe4pu_u7xM6U_cYvVwYKPlphqPSg9ZX_5oaiEe6xaD9tTA5seHxp6z-mvN_6iiwHcRf3qX4E3qDP1mLlkMi0LgkYQA-um9RtNIin1nsP1xsLtZzIcVOqAvn9L5nzepl_Gr3gHHHBprdzScCObZHphiNd7VneR8ojOoQeOSUDQdmN8MneJm980eaLqHJGcwBD0Sxi-uLE8R8hMY4OCABXC3ABx-jCW6AnH-3_8Gnn7gDVlrFBfmHQhf7CENDaggSc5DTyoPGkuw3kejo-suYpbHcNBWqiWZpcOCYZSpi3CeL8LUgEHeI3quLDn-ykWVRpkvzZi3zsBuwmqxk04hOwyFzY3mWYDTBBBg6zlrkUGn-UEPXjnLfyErXvvn5-tmi7n3XD6xRgap-KFuNHg5A_syhQixE67T_Q3NvgOuovHfkP5Jnjf8ejJ7q0rCQ9B_kdZXkFiaDClTvGmCbt_9ssnu_rSj0ZiRC39YI7c3oXW0YIot1PcPn2P-i65UVWSuwHwGa1llgbszIryOoFIoSnu1HhYQ5wMbzD4bfP1gzXw-8qgLv-l9LgmmO7zr6kM38mBoRvB6y2Fhumcx0RncNkPXDNnRaUKU1FY7ED_uFwZC8w=w540-h417-no
 - title: Mesh Love
   action: "#mesh"
   img: https://lh3.googleusercontent.com/ErLl2pNDqGPU5XyOLPvgudbvpgKsUx4EZMQ5vGrx3ruvjzOU3gv44506WS6iIPhsRruaAKST8xgryYZ0-aYwm8kowE221xoT39nM2epKbfwAZ-BNQYVMOnXTRpkA-wIsA-00FxYTiAXfsN4_UewI68cO9Rgu_D_htPtkYeBGpZS52S-4aGdN74JGhraJRtylrfR6j46QujndR-TSyBJ51a5k4xlrJACCY8UtTpcWfGFJ2IHDKs-QWRTSGHOrAXpvd0jKyL0-pxREQ61qlEfGHQypgjKK3KnivSqdlcqsK_UZMDCD4_zxmGR2e3gaQ37A1zPW2YjIHo5-lM-fazUtFlADWNSSxMLfGFlQauv988hs2pScECCXSxLCkutTTK5rQECcgVtFKAyeGuQLxvoiZaGhmozlbpfuvZ0feinyKgcnL2qIy_I29ERQcjojJ1h_a4LNPkQFTyuI2_lpRjMoMxY0UNMW4zsTccoPym57vky3DYCdXjFiKb0GLIRtcS6S41RJhAiH9Ui2dL34yaLONKBP1X_RQOumDTJVwNEp6-pIimp9XkZ_WVbyupbDEfvv4m-TqqED4AapCJDjtt_zrUYDvgnx5hE=w940-h788-no
 - title: CS accesorios
   action: "#cs"
   img: https://lh3.googleusercontent.com/Xztt8vUZ-W7bcJAnudbvLpH9B3uFrymeGOcnKiCBc1pWq162aD1mdqvtK69MYMNM4HAzTFwKjLJSVpeiDXtOXaoGJ_WRoW2nF_RCbgckjUkxc85_0l7N94WsmI8IgHshxJ9bMALLq2JpkaNU-YNVDG6YFaF-a-_8IKkqUcaLZ0a6IWUQdRl9pmAXCBhQSQAK1szx7HOXTDhRufeYsQU3c5k08AEaS-SZTRtRmY6r_pFYzDOEpecmrbX-RAwqmCaZb2cug-IxOnsi4nkDyDMRyFooNYFCisbtTtbNk_sqyVW4eX-iSllI17I6TBrmvSxXLkShUQmYSMtxuXRMBN_KvTradXEB3LpQYrtsMnRzWCjpbD2VCqfpr7A00R9FRldze67NKw2gzn6_O3pSqsHnQQx0j9IbWkcgnJlC8LuKujvSGu7lMidfhovXO_aSHX45cO930SS3x4HwpEMwYRuPS_XBFMXo5Y-Fk9YE80x5M5RMrjzvRBvUYyHq86ZBHRPs4HxfHOEzeuPwx4UX5HsM4f9nxLLrKpgPEyBArebmKQeGbuTOZBVOLp6jeIp9zmtxvYaZXRW9Wc38LeL-RiE2W3ac9eVNFtXE=w294-h321-no
 - title: Sweet candy land
   action: "#candyland"
   img: https://lh3.googleusercontent.com/1FfydSZrBGQ3kkH_YWWh01k7n0hTm03DYRzy4ucGcrIXv2xrtv-jeBlMM9sqM4X_DJDSUkeKZztC6lg9-tjB_N1d3sv5JlbLfY4caurmn20zcWQgVs9QfSvcp-G_UkqIM7fkwEr4g_OqdcijBX1kmpKcG4x5DZDlvFyhM1YvzwpCG6H7-wNUc_PxSHk_kKe8agAvthx8fzeNVw4858wfqWwm_b61oY8BzWJQmRj2ce994EAxc9RrqNn0umhhzRrq3NJgtDaSuP18SAjpjjNuoqi4APbjRItKGjXXXWVquo_kduebdGxZzVcCuT8FhGlwcyrmRQDGPpjOApjoR2WJI-DHVsjxQILjsVPOZ2dWAccXlzLrtHZZWRktRf3x3Q4DaTbW_yGIhnrjJZwKX-8CNoYbmC5DsXCZKBo83EVdsbKhz4J-_178qgeAF2M9hW770kR6-mClCskEhOVuG_I6vG7BqVGQSqFzkGR5okoR5LTWWrg_ZKq8W0CDKRZB6NHdtVzP3ySC35jP7KlnsJ5AuXdQyHuEKBD3iu0k9j1M7rnavRtIx6iVH2RdJ9zb0kqAP-CWk39Lfyi_CQIjt5OkkN7gq3a4-g=w480-h296-no

###################
#People
###################
nombre:
 class:
 name: entry.1099323200
 label: Tu nombre
 required: true

tienda:
 class:
 name: entry.1387441638
 label: Nombre de tu tienda/marca
 required: true

correo:
 class:
 name: entry.572093676
 label: Cual es tu correo?
 required: true

telefono:
 class:
 name: entry.1420748868
 label: Cual es tu celular de contacto? (opcional)


 
---
<!DOCTYPE html>
<html lang="en">
{{!--
	ETIQUETA HEAD
--}}
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	{{>style}}
	<style>	.parallax-container {height: 200px;}</style> 
</head>
{{!--
	ETIQUETA BODY
--}} 
<body>
	{{>analytics}}
	{{>general/facebook}}
	{{>general/nav info=front.nav}}
{{!--
	ZONA DE INSCRIPCION
--}}
<div class="">
	<div class="container">
		<div class="row">
			<div class="col s12 m6 l6">
				<h1 class="accent-text">Somos maravillarte</h1>
				<!--p class="flow-text white-text">Una comunidad que apoya el arte, diseño e individualidad.</p-->
				<p class="flow-text accent-text">Queremos ayudarte a crecer y que logres llevar tu mensaje y tu arte al mundo</p>
				<p class="flow-text accent-text">Creando una cuenta, tus productos serán incluidos en la tienda oficial de maravillarte.co, al tiempo que obtendrás tu propio espacio para vender</p>
				<p class="flow-text accent-text">Bienvenido</p>
			</div>
			<div class="col s12 m6 l6">
				<form action="https://docs.google.com/forms/d/e/1FAIpQLSe6So5e7tKGHiWupjkxb6314XcyN6Phcn1HalN6SqWxFfxIrg/formResponse" method="POST">
					<div class="row">
					<h1>Inscripción</h1>
						{{>forms/input info=front.nombre}}
						{{>forms/input info=front.tienda}}
						{{>forms/input info=front.correo}}
						{{>forms/input info=front.telefono}}
						<div class="row center">
							<input onclick="ga( 'send', 'event','inscribirse','confirmando','boton de inscripcion')" type="submit" name="submit" value="Inscribirme" class="btn-large  accent">
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
 <div class="blue-grey lighten-5">
  <div class="container">
   <div class="row">
    <br>
    <h1 class=" no-mar">Algunos creadores Maravillarte</h1>
  </div>
  <div class="row no-mar">
    {{#each front.people}}
    <div class="col s6 l3 m4 product">
     <div class="a-card-productor" >
      <div  class="card">
       <div class="card-image product-card">
        <img  src="{{this.img}}">
        <span class="card-title card-title-mini dark">{{this.title}}</span>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>
</div>
</div>
{{>footer}}
<script src="/js/min.js"></script>
</body>
</html>
<html lang="en">