<h2 class="accent-text">Galeria/ejemplos:</h2>
<div id="image-gallery" class="row no-mar">
	{{#each gallery}}
	<div class="thumbnail col s12 l4 m6 center">
		<img src="{{this}}" alt="imagen de ejemplo" class=" responsive-img materialboxed">
	</div>
	{{/each}}
</div>

