<div class="card horizontal">
  <div class="card-image">
    <img src="{{info.img}}">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h2 class="accent-text">{{info.title}}</h2>
      <p class="black-text">{{{info.description}}}</p>
    </div>
    <div class="card-action">
      <a href="{{info.action}}">Ver más</a>
    </div>
  </div>
</div>