---
title: Peluches zootopia Judy Hopps 31 cm

###################
#Products
###################
products:
 title: Peluches zootopia Judy Hopps 31 cm
 img: /img/screens/judy.png
 price: 80000
---

<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	{{>style}}
</head> 	
<body class="blue-grey lighten-5">
	{{>analytics}}
	{{>general/nav info=front.nav}}
	<br>
	
	{{>general/product-details  info=front.products}}
	

	<script src="/js/min.js"></script>
	<script>
		$(document).ready(function(){
			$(".button-collapse").sideNav();
			$('.modal-trigger').leanModal();
			$('select').material_select();
			$("#nav-mobile").removeClass("hidden");
	    });
	</script>
	{{>microdatos}}
	{{>landing/registry-form}}
</body>
</html>