<div class="main-img"  style="
background: url({{info.img}}) {{#unless info.repeat}}no-{{/unless}}repeat center center; {{#if info.cover}}background-size: cover;{{/if}}">
	<div class="text">
		<h1 class="white-text" style="font-size:3em;">{{info.title}}</h1>
		<h2 class="white-text flow-text">{{info.subtitle}}</h2>
	</div>
</div>	 