---
title: Articulos artesanales
parallax: /img/photo/jewel
################### 
#Main img
################### 
main-img:
    title: "Consigue el regalo ideal"
    subtitle: "En maravillarte encontraras las mejores y más originales ideas para esa persona especial. todos 100% personalizables."
    img: /img/photo/heart
################### 
#Main img
###################
search-bar:
 section1:
  name: "tipo"
  items:
   - label: joyeria
     checked: 
     disabled:
     value: joyeria
   - label: Arte y decoración
     checked: 
     disabled:
     value: arte
   - label: Alimentos
     checked: 
     disabled:
     value: alimentos
 section2:

###################
#People
###################
people:
 - title: La Calaca
   description: Chocolates, rosas, peluches y mucho más
   action: "#calaca"
   img: /img/type/calaca.jpg
 - title: Oink alcancias
   description: Regala un día de spa, una cena romántica o un viaje cargado de aventura
   action: "#oink"
   img: /img/type/oink.jpg
 - title: Boot accesorios
   description: Descubre detalles exclusivos, creativos y personalizables 
   action: "#boot"
   img: /img/type/boot.jpg
###################
#Products
###################
###################
#la calaca
###################
calaca:
 - title: Calacas Oxidadas
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13606710_635841989902372_2826184733565437690_n.jpg?oh=a1e41eeeae72cea146e998dd0c8f9041&oe=5846E1CF
   price: 40000
   tags:
   features:
    - Diferentes tipos de óxido
    - 'Alcancías Óxido de hierro: $4000 <a href="http://t1.uccdn.com/images/0/5/4/img_10450_ins_1173_600.jpg" target="_blank">Ver ejemplo</a>'

    - 'Alcancías Óxido de Cobre : $5000 <a href="http://www.aanti.es/files/Imagen%20019.jpg" target="_blank">Ver ejemplo</a>'

    - 'Alcancías Óxido de Bronce : $5000 <a href="http://static.consumer.es/www/imgs/2011/08/oxido-vasija.art.jpg" target="_blank">Ver ejemplo</a>'

   categories: 
    - arte
   description: Espectaculares alcancías que se oxidan con el paso del tiempo, mostrando detalles únicos, si quieres detener la oxidación puedes aplicar una capa de laca.
 
 - title: Lámpara Catrina, La calaca original
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12481021_1034892496589145_1367598933_n.jpg
   price: 40000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/12532711_1045022988922749_1992175491_n.jpg
    - https://fb-s-a-a.akamaihd.net/h-ak-xat1/t45.5328-0/c0.0.540.540/p180x540/12521176_975866552529241_1467563745_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12481021_1034892496589145_1367598933_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12726528_1051922321561126_892222215_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12521005_1132244446839149_1061565519_n.jpg

 - title: Calacas mixtas, matera de oxidación natural
   img: img/screens/IMG_0821.JPG
   price: 60000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - La planta se incluye con un costo adicional de $7000
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - img/screens/IMG_0811.JPG
    - img/screens/IMG_0819.JPG
    - img/screens/IMG_0857.JPG
    - img/screens/IMG_0855.JPG

 - title: Alcancía Calaca y rosas
   img: img/screens/IMG_0809.JPG
   price: 70000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - img/screens/IMG_0806.JPG

 - title: Matera Calaca color uniforme 
   img: img/screens/IMG_0831.JPG
   price: 40000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - img/screens/IMG_0831.JPG
    - img/screens/IMG_0835.JPG
 - title: Lampara Catrina, con instalación eléctrica
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-0/s480x480/13592714_1631147983868007_5760581608640463404_n.jpg?oh=aa6da1c7895b10a46d1b55f575e74923&oe=583A69AB&__gda__=1480579962_33b89288eb79d2fa20334a9e333ec3b7
   price: 52000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
    - Incluye instalacion electrica
   categories: 
    - arte
   description: Espectaculares craneos hechos y pintados a mano, basados en las Calacas mexicanas, incluye la instalacion electrica y bombilla, solo tendras que conectarla
   gallery:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/12532711_1045022988922749_1992175491_n.jpg
    - https://fb-s-a-a.akamaihd.net/h-ak-xat1/t45.5328-0/c0.0.540.540/p180x540/12521176_975866552529241_1467563745_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12481021_1034892496589145_1367598933_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12726528_1051922321561126_892222215_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12521005_1132244446839149_1061565519_n.jpg
   time: 6-9

 - title: Catrina Alcancía
   img: img/screens/IMG_0862.JPG
   price: 40000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares craneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - img/screens/IMG_0863.JPG
    - img/screens/IMG_0865.JPG
    - img/screens/IMG_0868.JPG

 - title: Calaquitas
   img: img/screens/IMG_0839.JPG
   price: 15000
   tags:
   features:
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares craneos hechos y pintados a mano. 
   gallery:
    - img/screens/IMG_0840.JPG
    - img/screens/IMG_0841.JPG
    - img/screens/IMG_0842.JPG
    - img/screens/IMG_0845.JPG
    - img/screens/IMG_0845.JPG
    - img/screens/IMG_0849.JPG
    - img/screens/IMG_0851.JPG
 - title: Calaquita Henna
   img: img/screens/IMG_0849.JPG
   price: 18000
   tags:
   features:
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Calaca pintada a mano, con Henna, un pigmento tradicional indú
   gallery:
    - img/screens/IMG_0849.JPG
 - title: Aretes Calacas
   img: /img/screens/IMG_0872.JPG
   price: 5000
   tags:
   categories: 
    - joyeria
   description: Hermosos aretes miniatura con motivos de carabelas
   featues: 
    - Precio de referencia por par
 - title: Pulseras Calaca trenzadas
   img: /img/screens/IMG_0912.JPG
   price: 10000
   tags:
   categories: 
    - joyeria
   description: Pulseras tejidas con motivos de calacas
   gallery:
    - /img/screens/IMG_0909.JPG
 - title: Pulseras Calaca de cuentas
   img: /img/screens/IMG_0882.JPG
   price: 10000
   tags:
   categories: 
    - joyeria
   description: Pulseras de cuentas con motivos de calavera
   gallery:
    - /img/screens/IMG_0879.JPG
    - /img/screens/IMG_0882.JPG
    - /img/screens/IMG_0884.JPG
    - /img/screens/IMG_0892.JPG
    - /img/screens/IMG_0894.JPG
    - /img/screens/IMG_0897.JPG
    - /img/screens/IMG_0904.JPG
    - /img/screens/IMG_0906.JPG
###################
#Oink
###################
oink:
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0923.JPG
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0902.JPG
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0914.JPG
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0918.JPG
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0925.JPG
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!

 - title: Alcancias 100% personalizables
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12109118_949908658422258_1756849549759554014_n.jpg?oh=2ed638ae2a23159fe6626f45dea6b237&oe=585D1F40
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13680676_1122332421179880_2515243371290337302_n.jpg?oh=1199362157859a49e02fccbdbb8fafdf&oe=583A0245
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13516328_1101211273291995_6503041233623000782_n.jpg?oh=8c3823a7459e0f4258047ecd566980bd&oe=5839A7B1
   price: 30000
   tags:
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
   gallery:
    - /img/screens/IMG_0899.JPG
    - /img/screens/IMG_0902.JPG
    - /img/screens/IMG_0914.JPG
    - /img/screens/IMG_0918.JPG
    - /img/screens/IMG_0923.JPG
    - /img/screens/IMG_0925.JPG
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12109118_949908658422258_1756849549759554014_n.jpg?oh=2ed638ae2a23159fe6626f45dea6b237&oe=585D1F40
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13680676_1122332421179880_2515243371290337302_n.jpg?oh=1199362157859a49e02fccbdbb8fafdf&oe=583A0245
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13516328_1101211273291995_6503041233623000782_n.jpg?oh=8c3823a7459e0f4258047ecd566980bd&oe=5839A7B1
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13438984_1099945110085278_3503255778143529107_n.jpg?oh=e6a8431173dcd907494b2ec0e09b5f82&oe=585C9D4C
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13269301_1080039932075796_2764972287494609805_n.jpg?oh=350a93ec9803aac388b672672c418cf5&oe=584A2AEF
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12670430_1010580182355105_3577396918937855359_n.jpg?oh=f62003585c0f2067ea75f7d91037c880&oe=5838CAB1
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12522924_998817633531360_995673974014754586_n.jpg?oh=3b2976f20764e7ae8c04ddb8feca532f&oe=5858BC9B
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/524804_990797581000032_6797637429545365008_n.jpg?oh=f1c4d2f1a8ff4c98f035730adeb36866&oe=583DA474  
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12074578_948454118567712_1850222448035435054_n.jpg?oh=06194599730fdd89fe7cd4bb562270fa&oe=58503E0A
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/11825976_920417924704665_7689448816829718536_n.jpg?oh=4d57135b14573fb73138e821dace38bb&oe=58451EAB
###################
#boot
###################
boot:
 - title: Joyería Origami Rosa (colores personalizables)
   img: /img/products/cat.jpg
   price: 38000
   details:
   tags:
   description: "Hermoso collar con una rosa de origami del color que desees"
   features:
    - Collar corto vintage (55 cm) de medio globo (2.5 cm) con rosa de papel.
    - El Color de la rosa es totalmente personalizable
   categories: 
    - joyeria
   time: 6-9
   gallery:
    - /img/screens/IMG_0956.JPG
    - /img/screens/IMG_0965.JPG
    - /img/screens/IMG_0942.JPG
 - title: Collares barco de papel
   img: /img/products/boat.jpg
   price: 35000
   features:
    - Collar largo vintage (70 cm) de globo (2.5 cm) con barco de papel en cobre y vidrio
   tags:
   description: "Collar con un barco de papel, nadando en un océano miniatura"
   gallery: 
    - /img/screens/boat.png


 - title: Collar Globo vintage dragón (colores personalizables)
   img: https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xtp1/t45.5328-0/c0.0.540.540/p180x540/12408924_1441211029237911_464474486_n.jpg
   price: 38000
   time: 2-5
   categories: 
    - joyeria

 - title: Anillo Medio Globo Rosa de Papel
   img: https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12726523_1179955005388826_1851522929_n.jpg
   price: 30000
   details: Anillo vintage de medio globo (2 cm) con rosa de papel. El color de la rosa puede variar. Apliques en cobre.
   tags:
   time: 2-5
   categories: 
    - joyeria   

 - title: Collar Vintage Globo Estrellas de Papel
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12726483_1076197749109612_2024760063_n.jpg
   price: 38000
   details:
   tags:
   categories: 
    - joyeria
###################
#Mesh Love
###################
mesh:
 - title: Canasta tentación sencilla
   img: /img/screens/choconato2.jpeg
   price: 50000
   tags:
   features:
    - 1 postre de 150gr ( Oreo&Arequipe, Dulce de Mora, Choconato, Nutella, Mousse de Maracuyá)
    - 8 rosas 
    - 1 cucharita artesanal
    - Canasta Artesanal
    - Tutù 
    - Tarjeta Personalizada
   categories: 
    - alimentos
   description: Canastas artesanales con deliciosos postres caseros
   time: 2-3

 - title: Canasta tentación doble
   img: /img/screens/choconato1.jpeg
   price: 65000
   tags:
   features:
    -  2 postres de 150gr c/u ( Oreo & Arequipe, Dulce de Mora, Choconato, Nutella, Mousse de Maracuyá)
    - 12 rosas 
    - 2 cucharitas artesanales
    - Canasta Artesanal
    - Tutù 
    - Tarjeta Personalizada
   categories: 
    - alimentos
   description: Canastas artesanales con deliciosos postres caseros
   time: 2-3

 - title: Canasta Passion Love
   img: /img/screens/choconato2.jpeg
   price: 95000
   tags:
   features:
    -  2 postres de 150gr c/u ( Oreo&Arequipe, Dulce de Mora, Choconato, Nutella, Mousse de Maracuyá)
    - 48 rosas 
    - 2 cucharitas artesanales
    - Canasta Artesanal
    - Tutù 
    - Tarjeta Personalizada
   categories: 
    - alimentos
   description: Canastas artesanales con deliciosos postres caseros
   time: 2-3
 - title: Canasta Barichara
   img: /img/screens/choconato3.jpeg
   price: 125000
   tags:
   features:
    -  4 postres de 150gr c/u ( Oreo&Arequipe, Dulce de Mora, Choconato, Nutella, Mousse de Maracuyá)
    - 18 rosas 
    - 2 cucharitas artesanales
    - Canasta Artesanal
    - Tutù 
    - Tarjeta Personalizada
   categories: 
    - alimentos
   description: Canastas artesanales con deliciosos postres caseros
   time: 2-3

###################
#Otros artistas
###################
products:
 - title: Varitas personalizadas, Harry potter
   img: /img/products/baritas1.png
   price: 30000
   tags:
   features:
    - Varitas mágicas de cualquiera de los personajes de la saga o la que tú quieras
    - '<a target="_blank" href="http://harrypotter.wikia.com/wiki/Wand#gallery-0">La lista de baritas puede verse aquí</a>'
   categories: 
    - arte
   description: Las varitas de tu saga magica favorita, hechas de manera artesanal
   gallery:
    - /img/screens/varita1.jpeg
    - /img/screens/varita2.jpeg
    - /img/screens/varita3.jpeg
    - /img/screens/varita4.jpeg
    - /img/screens/varita5.jpeg
    - /img/screens/varita6.jpg
   time: 3-6
 - title: Cojines vintage (personalizables)
   img: /img/screens/cojines.jpg
   price: 18000
   tags:
   categories:
    - arte
 - title: Cuadros madera vintage personalizables
   img: /img/screens/cuadros.jpg
   price: 25000
   tags:
   categories:
    - arte
 - title: Mini caballete 25x25cm
   img: /img/screens/caballete.jpg
   price: 36000
   tags:
   categories:
    - arte
 - title: Collar Avión
   img: /img/screens/collar-avion.jpg
   price: 18000
   tags:
   categories:
    - joyeria
 - title: Pulsera Ancla
   img: /img/screens/ancla.jpg
   price: 25000
   tags:
   categories:
    - joyeria

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	{{>style}}
	<style>	.parallax-container {height: 400px;}</style> 
</head> 	
<body>
	{{>analytics}}
	{{>general/nav info=front.nav}}
	{{>landing/hero-shot-two-btns info=front.main-img}}

  {{!INSCRIBETE ARTESANO}}
  <div class="accent-dark">
    <div class="container">
    <div class="row">
      <div class="col s12 m8">
      <br>
        <p class="flow-text white-text no-mar">
          Eres diseñador?
        </p>
        <br>
      </div>
      <div class="col s4 center">
      <br>
        <a href="" class="btn white accent-text">Inscribete!</a>
      </div>
    </div>
      
    </div>
  </div>
  {{!la calaca}}
  <div class="white">
    <div class="container container-90">
      <div class="row no-mar">
        <div class="col s1 ">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Symbol_OK.svg" alt="" class="responsive-img ok-img">
        </div>
        <div class="col s11">
          <p class="flow-text">Compra con confianza: Realizamos nuestros pagos a contraentrega, no necesitas pagar hasta tener los productos en tus manos. no te arrepentiras</p>
        </div>
      </div>
    </div>
  </div>

	<div class="blue-grey lighten-5"> 
	<br><br>
  <div class="row">
    <div class="col s12 m3 l3">
      {{>project/search-bar info=front.search-bar}}
    </div>
    <div class="col s12 m9 l9">
      {{!Oink alcancias}}
      <h1 id="mesh">Mesh love</h1>
      {{>general/products-section-details info=front.mesh id="mesh"}}
      <h1 id="oink">Oink Alcancias</h1>
      {{>general/products-section-details info=front.oink id="oink"}}
      {{!boot accesorios}}
      <h1 id="boot">Boot accesorios</h1>
      {{>general/products-section-details info=front.boot id="boot"}}
      {{!LA CALACA}}
      <h1 id="calaca">La calaca</h1>
      {{>general/products-section-details info=front.calaca id="calaca"}}
      <h1 id="otros">Otros artistas</h1>
      {{>general/products-section-details info=front.products id="otro"}}
      
    </div>
  </div>
	<br>
  {{>project/carrito}}
	{{>footer}}
	<script src="/js/min.js"></script>
	<script>
		$(document).ready(function(){
			$(".button-collapse").sideNav();
			$('.modal-trigger').leanModal();
			$('select').material_select();
			$("#nav-mobile").removeClass("hidden");
			$(".parallax").parallax();
      $("input[name='tipo']").click(function(){
        filterClick();
      })
	    });
    function filterClick(){
      console.log("click")
      //oculto las tarjetas
      
      var values = new Array();
      //obtengo el valor de los filtros
      $.each($("input[name='tipo']:checked"), function() {
        values.push($(this).val());
      });
      console.log(values.length)
      if(values.length===0){
        $("a.a-card-product").parent().removeClass("hide");
        console.log("removiendo filtros")
      }else{
        $("a.a-card-product").parent().addClass("hide");
      }
      
      //filtro y muestro
       console.log(values)
       var cards=$("a.a-card-product")
       console.log(cards)
      $.each(cards, function() {
        //guardo la categoria
        var card = $(this)
        var category = $(this).data("categories");
        var index =$.inArray(category,values)
        console.log(index)
        if(index != -1){
          $(this).parent().removeClass("hide");
          console.log($(this))
        }
      });
    }
	</script>
	{{>microdatos}}
	{{>landing/registry-form}}
</body>
</html>