---
payU:
    merchantID: 581494
    accountID: 584418

################### 
#theme
################### 
title: Boot Accesorios
parallax: /img/photo/oink
logo-svg: /img/boot.svg
logo-png: /img/boot.png

theme: "#fff"

primary: "#ffffff"
primary-light: "#ffffff"
primary-dark: "#ffffff"
primary-text: "#000000"

accent: "#a80834"
accent-dark: "#a80834"
accent-text: "#a80834"
accent-light: "#a80834 "

footer-color: "#fff"
nav-color: "#fff" 
################### 
#Main img
################### 
main-img:
    title: "Somos #BootAccesorios"
    subtitle: 'Somos una empresa dedicada al diseño, elaboración y comercialización de accesorios auténticos para mujeres modernas. Exclusividad 100% garantizada!'
    img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13537753_1814882345397227_5213228996469142134_n.jpg?oh=773ed7a5fb79d79552b3b32d6362fded&oe=58781345
################### 
#Main img
###################
search-bar:
 section1:
  name: "tipo"
  items:
   - label: Joyería
     checked: 
     disabled:
     value: joyeria
   - label: Arte y decoración
     checked: 
     disabled:
     value: arte
   - label: Alimentos
     checked: 
     disabled:
     value: alimentos
 section2:

###################
#boot
###################
boot:
 - title: Joyería Origami Rosa (colores personalizables)
   img: /img/products/cat.jpg
   price: 38000
   details:
   tags:
   description: "Hermoso collar con una rosa de origami del color que desees"
   features:
    - Collar corto vintage (55 cm) de medio globo (2.5 cm) con rosa de papel.
    - El Color de la rosa es totalmente personalizable
   categories: 
    - joyeria
   time: 6-9
   variation:
    - /img/screens/IMG_0956.JPG
    - /img/screens/IMG_0965.JPG
    - /img/screens/IMG_0942.JPG
 - title: Collares barco de papel
   img: /img/products/boat.jpg
   price: 35000
   features:
    - Collar largo vintage (70 cm) de globo (2.5 cm) con barco de papel en cobre y vidrio
   tags:
   description: "Collar con un barco de papel, nadando en un océano miniatura"
   variation: 
    - /img/screens/boat.png


 - title: Collar Globo vintage dragón (colores personalizables)
   img: https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xtp1/t45.5328-0/c0.0.540.540/p180x540/12408924_1441211029237911_464474486_n.jpg
   price: 38000
   time: 2-5
   categories: 
    - joyeria

 - title: Anillo Medio Globo Rosa de Papel
   img: https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12726523_1179955005388826_1851522929_n.jpg
   price: 30000
   details: Anillo vintage de medio globo (2 cm) con rosa de papel. El color de la rosa puede variar. Apliques en cobre.
   tags:
   time: 2-5
   categories: 
    - joyeria   

 - title: Collar Vintage Globo Estrellas de Papel
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12726483_1076197749109612_2024760063_n.jpg
   price: 38000
   details:
   tags:
   categories: 
    - joyeria
 - title: Collar barco tubo
   img: https://lh3.googleusercontent.com/YuMYbOZSh-k-BmFCMx43n5e-lNArHh8FefKRTOhlAfjZuAwe4dh9v3wFdaDSbWdkD79i6i-ZI7zG3EYbGPqJTYBmKJWNLAzdzCzkRZzebgjfR37OE0pH6pOFr_ZrJURlKkSRBGwT3GcUlcigdCm58xD-6wQ70W3t5vDXEIy5y9FiGksIqsRswTSdf5d7Sm9Pg-Hx3MchEQ94BcxKcfEzALSeswZ8t4AJv4gW0lPKCrbozwH4GaSJmPM6kgp-Li69Q909J8s_vQW6loWsPG26pIvaHm2hW2WypBHcmYOZxh7JjUfRSUOblXEY-aFPYES4wWn_zOUxMLNgxJ-o6ZEJzzMxi25duNl4Gb4w0nSUb9SVKGrLAuPlCOhN7fcxO9j0nrnd1SeFPn3xiNT-YOA3yfA9jnTrBRMKRtVIhxuqGWflPyHo19gA0PPvtGxaXC_llDqZU4w3tedWmSztEpvZLhFqmA5C_mlRH6iUfxUSwLSkAJDu_0pbHQav3k9a7emLzpwFSO6FgUJmTshAm-EzvuDfwRrL6lvPWEBbb_HuwTy_dzosiOn42DboHJBuOJBOJ6KPDFAFEpYz_XAKuyWDyg4D6-Qm-6YEBLZB5C1BZgtqfP6o=s933-no
   price: 34000
   tags:
   features:
    -  collar de cobre de 70 cm con tubo horizontal de vidrio y barco de papel navegando en océano miniatura
   categories: 
    - joyeria
   description: Anímate a escoger un color diferente de barco y haz que tu océano sea de un color ùnico
   variation: 
    - https://lh3.googleusercontent.com/wRdBNo__sg0zqpDZXJOKT0YPeL2I_1cZFXOtsLf3xYacS01YL_E_dAI957TCj9cKLHzfsRijbRHIhvlpraQfc8kwLd2YVjAaxUJ39v-cGVe6e2-JxJb2iGKzscNzKWB4zH3tEaRb7lbn-Xod_zaOIsGq8IohuhdvgtYaNurB-7wYk76UJ4FosAtnjK7e3R7F5FKcADVVVP0Wj8k9iCxY8Wk13tzAUG11_eJ9M7jTTj7ruyNcjfN4buuO6XsXZhI1cEY4I69y6y09lrDAN1-aQKds_Mkz_8hE873HUmkBq4A6yed0xMN9wTSQBUH6rSvTd5Oyg426dUooyb6aKpSiUS-vJKHTHdWT6vmt3wIsrjGlv7ZNXktxnaPS4wUtnKhbJTHXQOid8MRtBSe643tMfTUbWIPx3hXC78KUPbRXBNa_xshjndebwk956ilclrd1L1Sme-nVMMOSbFiOaVA_9H8iYUhBS-zW2RZzPpKXDV2bFqJmCsPWULhSp_uvuAny67K_COZehtk0ls6Tv81zpYUWfbzLKd-6YarXkidp8xfeSUyFFghNxNsWxxHzhLC-x0wtESPPlwp-V7uUlVxKdNq1mDslymZQulbWcF-rDsVOXVKZ=s720-no
   time: 3-4

 - title: Collar  origami de estrellas tubo
   img: https://lh3.googleusercontent.com/fmL009gKHEnXv5bRcbtCI2EBbUOQurQC2AI9lBF4PFylVsl5CFyPvduP-vr7DPzJEwr7GS8CI7BK-K9a_Q0ajbL6IpGkrj2e-gJPw7896kuDorXaTwEbvhTgocER9N57PMvm96zYJ2mXzgu3r4wxjA0yEQra1jUXJ0UZkgMctPMcBiPb-ooYHoqQ-JMmJ3KnJXbQi3cA7xWj3oNNuo4fUJt_beQK3blmnhEw2HFg8YZYimeO_RyXVPKwMAscyAFIRXdQEZojtSR57okfUOsdjwr6j1g_86Rb4VJSFWJhbk1ydx7nNU7zWmb0iPHmu_S8_3xkRAdDYDeQuq-DO_8bafnQ1_R02Nh5n2GjSK13XhHnHfc4VWT2Oqnr64zBPktiv0RWDRebSjra_RCj3MtkbTgHCgxDoqxd5nwmP_V6qnSiOsYoqU1zbLgK4cT8veYZE5dx8mgkOj2d_ryDRouqWPv4bkTDwY3FgVX0ijMPD_CgXi8r5H0AH_OD2WO0oh5or-sETxvKVt8_Nqxaq7pT2aW2sLuQlcuZKebTC5h3SZ0ZnAkb9yKb8tloUXb1ju8A21-19NnanGzch64xCatzkvqXUxakyWUJHKXzzlNc6xyPUS6o=s933-no
   price: 34000
   tags:
   features:
    -  collar de cobre de 70 cm con tubo horizontal de vidrio y estrellas de colores de papel
   categories: 
    - joyeria
   description: Anímate a escoger el color de tus estrellas
   variation:
   time: 3-4

 - title: Collar grullas tubo
   img: https://lh3.googleusercontent.com/2XKfJF9ehig8Cjs2oUnzHbXuEuXdL2Bhvl7a1zFfzoEpK-BAD2s0EpFoLnaptJYTFxT6AkgXve9_r73mamEkJBFqbjB9WkAz_d1sW-rNAQLaYmOLT-sXmyJs1y_yPIK6asuSik2BiHeEjLEVWC6MGr6AbyW0QnZRB1NoekP1cq0uUVm5g1y3W1Fv78buGjyDpj13kOoGCETe3MN3Q_QOhMKk2yzH3GCEtZb9aKV82ANnfOhGG5LtDVy_xSJ7Az0zV59WJ67OXWO5gEEAnEu4dYfW6FXkX34XvvXVJU8BgH-NFlPw7iZxHs468qiYN5KQsrbQLDW0eaJZymHvvDX6jk5ANAffmdZiwMjaxocVhO6AbriiwwpY-qmHbeqeFAkSo-_6LzaJWY7FVS5QGuP5_47lQl2x_DnA8_6DZweD08V3TF8BtLIZ6oLEBa7X1yY28dHeqHd0kMdPyrF7ia-XncUbgd90oCGwLkNNdzPn_hlyHcQmHECYDu6H9wGSGFvwiKP7t9d_8yO5bZYvWnl-grZ-CuNZYcL2lQZyCPQOogvkqXMZYaRclUGZjJbO1aZwN35nSRV1HebBo1m5m37qjQiFrYKqya5gQojeVAVdvsshbDl6=s933-no
   price: 34000
   tags:
   features:
    -  collar de cobre de 70 cm con tubo horizontal de vidrio y grullas de colores de papel
   categories: 
    - joyeria
   description: Anímate a escoger el color de tus grullas
   variation:
   time: 3-4

 # - title: Collar plateado de botella
 #   img: me falta pedir esta foto
 #   price: 20000
 #   tags:
 #   features:
 #    -  collar plateado (70 cm) de botella con dije de torre Eiffel sobre arena
 #   categories: 
 #    - joyeria
 #   description: Anímate a escoger el color de la arena sobre la que quisieras ver tu torre
 #   variation:
 #   time: 3-4

 - title: Pulsera vintage globos origami de estrellas
   img: https://lh3.googleusercontent.com/HZDBw1vlkqPz-jV17WOp-3YeqZUgNqf_-gFJoEBvU1IM3B_j56kSbkL0A3ZLhYDV_c_qySM7hZ0zMmgODtWVhJMGhrCYpEqwsXDyR9tZG4t1i4EWypXBed2_sTJrYbDX5tDR3uFUYTm5qn_CHEtOnUe635eCMb9JKsHbOgR2oBDWUgGoSIYzyOhU30KURYoujWBJWtXmzjjITWwH4E1xqDTxluSvi-2qtEaQkXzmdFMcxA3FGzwLwFBj6RVeNnvgI5o60wBnNA5KCvotD-r36RcVoQ9pnqtEjjqVPfMxWmUlDYm0EINytbGuAZr9-1P1k_d1NymZp8oN9OjONVrXhNMDaP7c2BQcqN-Bo2cl0K4dPjgY77nTNBfJ3hmSrX2AQCHqzddmO0JATfuRZ4yOnSWwZKKqqrsiybrCdIs4rO59F-Q7mmj8gyvhbcQU-qs987Pip0ubab_3Zv7TNvzZD1Ph-WENmX3HPx_RL6UaC3pFWqI2fqpFzhCRS6x19eTLpkkTp9RiHEHl4Emo1ec7VwKTkvvTMnVOXK0JhyLaGrJ21VPmzRCfbl5eacEPD_091-Ul5R4JdjjWA40L1sYWGKT6OTW1wJVK1jAAX_eBtsxt_1WO=s933-no
   price: 32000
   tags:
   features:
    -  pulsera vintage, cadena de estrellas y en el centro un globo con estrellas de papel
   categories: 
    - joyeria
   description: Anímate a escoger el color de tus estrellas
   variation:
   time: 3-4


 - title: Pulsera perlas mini origami y botella con barco
   img: https://lh3.googleusercontent.com/p_zEbSqVEsANjbJj3LPquASCLFYOFCGvKvr_4VCMTIdqdKgT8dmvXm6KaGAAvqHY5cDKc1YpKHfxckvbGIDFN03_Gzv3xJlVrDmZ1ifwprUNo5PbThwuHMoWBScg7eGo0ZqDnmb2s4X54zyTSL_wRSrKBG0T1bjICgiU40-mDxehxhu4wIhouTRNV78AAEZv6DwdkSoxjXSCnxmKIq4o4k0sQElWenx9_pJvsI5GpRQ2qZHlWkMhc8wthGzRuB9UQ4MP9sIoKCazF8xqjVN6TQn8-Zpqi3SnT63KwuHiQSX1EYJMXIDUZs7yppvCDCByh5_cggKvQZCKn3m7rxTNtZRd8_oYpJnA9he-n96_8b4s-0PJlJid6ICbDhn1Tbn0g5fsMK9W2_Qt_j8mV2GQjdbqB_yuP2Mz0NdOnzx0FqWafoOHD4lFR0sV4UsBEG67cMmaqlFHsf7sOZ3NRQdQLd23KB4OKJaSu2NSshTtfEBayr-4sqhVfyIDMGb_hGpeFhrGKj2DyXkLJgDEfa8uX67S-iJxFeP-q1ghCBuvR82Txd-oxDzWjcj1OUz_eWktezfd09CcVYIvEiY6uW9i0GZt_G4m2rUlngThHUPcb-Gvy3SX=s933-no
   price: 20000
   tags:
   features:
    -  Pulsera de perlas sencilla, dije de minibotella con barquito de papel y listón
   categories: 
    - joyeria
   description: Anímate a escoger un color diferente de barco y haz que tu océano sea de un color ùnico
   variation:
   time: 3-4
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{data.title}} | {{front.title}}</title>
  <meta name="description" content="{{data.description}}">
  {{>head}}
  {{>style}}
  <style> .parallax-container {height: 500px;}</style> 
</head>   
<body>
  {{>analytics}}
  {{>general/facebook}}
  {{>general/nav info=front.nav}}
  {{>landing/hero-shot-facebook2 info=front.main-img}}

<div class="blue-grey lighten-5"> 
  <br><br>
  <div class="row">
  <div id="product-space" class="col s12 m12 l12">
    {{>general/products-section-details info=front.boot id="boot"}}
  </div>
</div>
<br>
<div class="row center">
      <img class="responsive-img" src="https://deduxygames.files.wordpress.com/2016/08/unnamed.png" alt="">
</div>
{{>footer}}
<script src="/js/min.js"></script>
<script>
 $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
     $('html, body').animate({
      scrollTop: target.offset().top
    }, 1000);
     return false;
   }
 }
});
});
 /*
 * PIEZA DE CODIGO DOCUMENT READY
 * activa las diferentes partes de materializecss 
 * y otras cositas importantes
 */
 $(document).ready(function(){
  $(".button-collapse").sideNav();
  $('.modal-trigger').leanModal();
  $('select').material_select();
  $("#nav-mobile").removeClass("hidden");
  $(".parallax").parallax();
  $(".cancel-icon").click(function(){ deleteProduct($(this).data('name'))})
  $("input[name='tipo']").click(function(){
   filterClick();
 })
});
</script>
{{>microdatos}}
{{>landing/registry-form}}
{{>project/carrito info=front.payU}}
{{>project/subir}}
</body>
</html>

