---
title: Articulos artesanales
parallax: /img/photo/oink
logo-svg: /img/calaca.svg

theme: "#27b9c7"

primary: "#ffffff"
primary-light: "#ffffff"
primary-dark: "#ffffff"
primary-text: "#000000"

accent: "#27b9c7"
accent-dark: "#0E4247"
accent-text: "#0E4247"
accent-light: "#32EDFF "

footer-color: "#27b9c7"
nav-color: "#27b9c7" 
################### 
#Main img
################### 
main-img:
    title: "Somos #LaCalaca"
    subtitle: '"En la calaca nos inspiramos en la muerte, la vida y la ironía"'
    img: https://lh3.googleusercontent.com/MvKwB1v8Tx2EzxT7iWtcWWgluafquoVQt3LxoZTNCNRKPD9WTky3YwKc54gi5s1XStUxJEDvMUBztvaikOcnhILu0n5VMTnb0hw2hq6n-BPqqqKzdZa4a9omL8fXej-evci5W3GBUfQx6qggLm4A_Pa6FXqMBFchdJ_8IhXeKaaQFujpuoXbSAsyYbaH9984JFb-YAdcdnqX-86s1qBtDyrKhsbB90uqin8Ms3gV5oqhCDZSgtMYNWjLcLwFObwYQ1wuyIUrVdQOhwCUHZoc1a2B2GclR02OgCF3JXpffZSb4BIisXm_11pkf2t8vXkDV8J6qoPJZam_xadpHW6uVg_vqxBPfsXx-fu0RaqhLMXDn0uNutXIuU52OwyBZ-2sKZB_z85LghB0Vll5q42in0Ty959qIQ6TXfjL8OD6aLhRlvsYK3WQHP8LvhChpE2w9wl0v5LAkQ88E2-XP_U3klbzD5iElQrihCEMlAbjRf71OXQCToTy7CyG9rLTOzA1hLtmfXSAdhqiy-mvixtXmBzHH7pxzrB1c8ozQ-n95Cp2a_PJmL7L2oEWNVbMeaul17xTEfatJAF6iD8x0orSRZ1SX08ULndTWqYJYs-fCHlP2OwQJg=w1280-h572-no
################### 
#Main img
###################
search-bar:
 section1:
  name: "tipo"
  items:
   - label: Joyería
     checked: 
     disabled:
     value: joyeria
   - label: Arte y decoración
     checked: 
     disabled:
     value: arte
   - label: Alimentos
     checked: 
     disabled:
     value: alimentos
 section2:

###################
#Products
###################
###################
#la calaca
###################
calaca:
 - title: Calacas Oxidadas
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13606710_635841989902372_2826184733565437690_n.jpg?oh=a1e41eeeae72cea146e998dd0c8f9041&oe=5846E1CF
   price: 40000
   tags:
   features:
    - Diferentes tipos de óxido
    - 'Alcancías Óxido de hierro: $4000 <a href="http://t1.uccdn.com/images/0/5/4/img_10450_ins_1173_600.jpg" target="_blank">Ver ejemplo</a>'

    - 'Alcancías Óxido de Cobre : $5000 <a href="http://www.aanti.es/files/Imagen%20019.jpg" target="_blank">Ver ejemplo</a>' 

    - 'Alcancías Óxido de Bronce : $5000 <a href="http://static.consumer.es/www/imgs/2011/08/oxido-vasija.art.jpg" target="_blank">Ver ejemplo</a>'

   categories: 
    - arte
   description: Espectaculares alcancías que se oxidan con el paso del tiempo, mostrando detalles únicos, si quieres detener la oxidación puedes aplicar una capa de laca.
 
 - title: Lámpara Catrina, La Calaca original
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12481021_1034892496589145_1367598933_n.jpg
   price: 40000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   variation:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/12532711_1045022988922749_1992175491_n.jpg
    - https://fb-s-a-a.akamaihd.net/h-ak-xat1/t45.5328-0/c0.0.540.540/p180x540/12521176_975866552529241_1467563745_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12726528_1051922321561126_892222215_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12521005_1132244446839149_1061565519_n.jpg

 - title: Calacas mixtas, matera de oxidación natural
   img: /img/screens/IMG_0821.JPG
   price: 60000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - La planta se incluye con un costo adicional de $7000
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   variation:
    - /img/screens/IMG_0811.JPG
    - /img/screens/IMG_0855.JPG
   gallery:
    - /img/screens/IMG_0819.JPG
    - /img/screens/IMG_0857.JPG

 - title: Alcancía Calaca y rosas
   img: /img/screens/IMG_0809.JPG
   price: 70000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - /img/screens/IMG_0806.JPG

 - title: Matera Calaca color uniforme 
   img: /img/screens/IMG_0831.JPG
   price: 40000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares cráneos hechos y pintados a mano, basados en las Calacas mexicanas
   gallery:
    - /img/screens/IMG_0831.JPG
    - /img/screens/IMG_0835.JPG
 - title: Lámpara Catrina, con instalación eléctrica
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-0/s480x480/13592714_1631147983868007_5760581608640463404_n.jpg?oh=aa6da1c7895b10a46d1b55f575e74923&oe=583A69AB&__gda__=1480579962_33b89288eb79d2fa20334a9e333ec3b7
   price: 52000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
    - Incluye instalacion electrica
   categories: 
    - arte
   description: Espectaculares craneos hechos y pintados a mano, basados en las Calacas mexicanas, incluye la instalacion electrica y bombilla, solo tendras que conectarla
   variation:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/12532711_1045022988922749_1992175491_n.jpg
    - https://fb-s-a-a.akamaihd.net/h-ak-xat1/t45.5328-0/c0.0.540.540/p180x540/12521176_975866552529241_1467563745_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/12481021_1034892496589145_1367598933_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12726528_1051922321561126_892222215_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.540.540/p180x540/12521005_1132244446839149_1061565519_n.jpg
   time: 6-9

 - title: Catrina Alcancía
   img: /img/screens/IMG_0862.JPG
   price: 40000
   tags:
   features:
    - 14 cms x 10,2 cms x 13 cms 
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares craneos hechos y pintados a mano, basados en las Calacas mexicanas
   variation:
    - /img/screens/IMG_0868.JPG
   gallery:
    - /img/screens/IMG_0863.JPG
    - /img/screens/IMG_0865.JPG

 - title: Calaquitas
   img: /img/screens/IMG_0839.JPG
   price: 15000
   tags:
   features:
    - 'Personaliza los colores a tu gusto'
   categories: 
    - arte
   description: Espectaculares craneos hechos y pintados a mano. 
   variation:
    - /img/screens/IMG_0840.JPG
   
    - /img/screens/IMG_0842.JPG
    - /img/screens/IMG_0845.JPG
    - /img/screens/IMG_0851.JPG
   gallery:
    - /img/screens/IMG_0841.JPG
    - /img/screens/IMG_0845.JPG
 - title: Calaquita Henna
   img: /img/screens/IMG_0849.JPG
   price: 18000
   tags:
   features:
    - 'Personaliza los colores a tu gusto'
   categories:  
    - arte
   description: Calaca pintada a mano, con Henna, un pigmento tradicional hindú
   variation:
    - /img/screens/IMG_0849.JPG
 - title: Aretes Calacas
   img: /img/screens/IMG_0872.JPG
   price: 5000
   tags:
   categories: 
    - joyeria
   description: Hermosos aretes miniatura con motivos de carabelas
   featues: 
    - Precio de referencia por par
 - title: Pulseras Calaca trenzadas
   img: /img/screens/IMG_0912.JPG
   price: 10000
   tags:
   categories: 
    - joyeria
   description: Pulseras tejidas con motivos de Calacas
   variation:
    - /img/screens/IMG_0909.JPG
 - title: Pulseras Calaca de cuentas
   img: /img/screens/IMG_0882.JPG
   price: 10000
   tags:
   categories: 
    - joyeria
   description: Pulseras de cuentas con motivos de calavera
   variation:
    - /img/screens/IMG_0879.JPG
    - /img/screens/IMG_0882.JPG
    - /img/screens/IMG_0884.JPG
    - /img/screens/IMG_0892.JPG
    - /img/screens/IMG_0894.JPG
    - /img/screens/IMG_0897.JPG
    - /img/screens/IMG_0904.JPG
    - /img/screens/IMG_0906.JPG
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{data.title}} | {{front.title}}</title>
  <meta name="description" content="{{data.description}}">
  {{>head}}
  {{>style}}
  <style> .parallax-container {height: 500px;}</style> 
</head>   
<body>
  {{>analytics}}
  {{>general/facebook}}
  {{>general/nav info=front.nav}}
  {{>landing/hero-shot-facebook2 info=front.main-img}}

<div class="blue-grey lighten-5"> 
  <br><br>
  <div class="row">
  <div id="product-space" class="col s12 m12 l12">
    {{>general/products-section-details info=front.calaca id="calaca"}}
  </div>
</div>
<br>
<div class="row center">
      <img class="responsive-img" src="https://deduxygames.files.wordpress.com/2016/08/unnamed.png" alt="">
</div>
{{>footer}}
<script src="/js/min.js"></script>
<script>
 $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
     $('html, body').animate({
      scrollTop: target.offset().top
    }, 1000);
     return false;
   }
 }
});
});
 /*
 * PIEZA DE CODIGO DOCUMENT READY
 * activa las diferentes partes de materializecss 
 * y otras cositas importantes
 */
 $(document).ready(function(){
  $(".button-collapse").sideNav();
  $('.modal-trigger').leanModal();
  $('select').material_select();
  $("#nav-mobile").removeClass("hidden");
  $(".parallax").parallax();
  $(".cancel-icon").click(function(){ deleteProduct($(this).data('name'))})
  $("input[name='tipo']").click(function(){
   filterClick();
 })
});
</script>
{{>microdatos}}
{{>landing/registry-form}}
{{>project/carrito info=front.payU}}
{{>project/subir}}
</body>
</html>
