---
payU:
    merchantID: 581494
    accountID: 584418


################### 
#theme
################### 
title: Oink alcancias
parallax: /img/photo/oink
logo-svg: /img/oink.svg
logo-png: /img/oink.png

theme: "#fff"

primary: "#ffffff"
primary-light: "#ffffff"
primary-dark: "#ffffff"
primary-text: "#000000"

accent: "#ff4081 "
accent-dark: "#ff4081 "
accent-text: "#c51162  "
accent-light: "#fce4ec   "

footer-color: "#fff"
nav-color: "#fff" 
################### 
#Main img
################### 
main-img:
    title: "Somos #Oink"
    subtitle: 'Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!'
    img: /img/photo/oink.jpg
################### 
#Main img
###################
search-bar:
 section1:
  name: "tipo"
  items:
   - label: Joyería
     checked: 
     disabled:
     value: joyeria
   - label: Arte y decoración
     checked: 
     disabled:
     value: arte
   - label: Alimentos
     checked: 
     disabled:
     value: alimentos
 section2:

###################
#boot
###################
###################
#Oink
###################
oink:
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0923.JPG
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0902.JPG
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0914.JPG
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0918.JPG
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: /img/screens/IMG_0925.JPG
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!

 - title: Alcancias 100% personalizables
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12109118_949908658422258_1756849549759554014_n.jpg?oh=2ed638ae2a23159fe6626f45dea6b237&oe=585D1F40
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13680676_1122332421179880_2515243371290337302_n.jpg?oh=1199362157859a49e02fccbdbb8fafdf&oe=583A0245
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
 - title: Alcancias 100% personalizables
   img: https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13516328_1101211273291995_6503041233623000782_n.jpg?oh=8c3823a7459e0f4258047ecd566980bd&oe=5839A7B1
   price: 30000
   tags:
   time: 3-4
   categories:
    - arte
   description: Alcancías personalizadas realizadas totalmente a mano ♥ piggy banks 100% handmade!, pide el diseño que quieras!
   variation:
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13438984_1099945110085278_3503255778143529107_n.jpg?oh=e6a8431173dcd907494b2ec0e09b5f82&oe=585C9D4C
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13269301_1080039932075796_2764972287494609805_n.jpg?oh=350a93ec9803aac388b672672c418cf5&oe=584A2AEF
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12670430_1010580182355105_3577396918937855359_n.jpg?oh=f62003585c0f2067ea75f7d91037c880&oe=5838CAB1
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12522924_998817633531360_995673974014754586_n.jpg?oh=3b2976f20764e7ae8c04ddb8feca532f&oe=5858BC9B
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/524804_990797581000032_6797637429545365008_n.jpg?oh=f1c4d2f1a8ff4c98f035730adeb36866&oe=583DA474  
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/12074578_948454118567712_1850222448035435054_n.jpg?oh=06194599730fdd89fe7cd4bb562270fa&oe=58503E0A
    - https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/11825976_920417924704665_7689448816829718536_n.jpg?oh=4d57135b14573fb73138e821dace38bb&oe=58451EAB
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{data.title}} | {{front.title}}</title>
  <meta name="description" content="{{data.description}}">
  {{>head}}
  {{>style}}
  <style> .parallax-container {height: 500px;}</style> 
</head>   
<body>
  {{>analytics}}
  {{>general/facebook}}
  {{>general/nav info=front.nav}}
  {{>landing/hero-shot-facebook2 info=front.main-img}}

<div class="blue-grey lighten-5"> 
  <br><br>
  <div class="row">
  <div id="product-space" class="col s12 m12 l12">
    {{>general/products-section-details info=front.oink id="oink"}}
  </div>
</div>
<br>
<div class="row center">
      <img class="responsive-img" src="https://deduxygames.files.wordpress.com/2016/08/unnamed.png" alt="">
</div>
{{>footer}}
<script src="/js/min.js"></script>
<script>
 $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
     $('html, body').animate({
      scrollTop: target.offset().top
    }, 1000);
     return false;
   }
 }
});
});
 /*
 * PIEZA DE CODIGO DOCUMENT READY
 * activa las diferentes partes de materializecss 
 * y otras cositas importantes
 */
 $(document).ready(function(){
  $(".button-collapse").sideNav();
  $('.modal-trigger').leanModal();
  $('select').material_select();
  $("#nav-mobile").removeClass("hidden");
  $(".parallax").parallax();
  $(".cancel-icon").click(function(){ deleteProduct($(this).data('name'))})
  $("input[name='tipo']").click(function(){
   filterClick();
 })
});
</script>
{{>microdatos}}
{{>landing/registry-form}}
{{>project/carrito info=front.payU}}
{{>project/subir}}
</body>
</html>

