---
payU:
    merchantID: 581494
    accountID: 584418

################### 
#theme
################### 
title: #queLullada
parallax: /img/photo/oink
logo-svg: asd
logo-png: /img/quelullada.png

theme: "#370808"

primary: "#ffffff"
primary-light: "#ffffff"
primary-dark: "#ffffff"
primary-text: "#000000"

accent: "#27b9c7"
accent-dark: "#0E4247"
accent-text: "#0E4247"
accent-light: "#32EDFF "

footer-color: "#27b9c7"
nav-color: "#ffffff" 
################### 
#Main img
################### 
main-img:
    title: "Somos #queLullada"
    subtitle: 'Fábrica de Ideas con amor.<br><br>  Cada proyecto es el resultado de horas intensas de felicidad, soñado con fantasía y una pizca de magia; de modo que te haga sonreír, te contagies de emoción, irradies alegría y puedas chicanear.'
    img: https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/14021747_533028110225818_2351867691492446297_n.jpg?oh=686017bb2ab1bb164059d13cfbaa504d&oe=587FE2D1
################### 
#Main img
###################
search-bar:
 section1:
  name: "tipo"
  items:
   - label: Joyería
     checked: 
     disabled:
     value: joyeria
   - label: Arte y decoración
     checked: 
     disabled:
     value: arte
   - label: Alimentos
     checked: 
     disabled:
     value: alimentos
 section2:

lullada:
 - title: Bonsai de Jade y Pino
   img: https://lh3.googleusercontent.com/XVaqh5xLARIIkkaKrUwYtS52RW26l-Xv0Ve82w0lR10A7b9fM1EGxXrHXbvwNe37s5wbqsccxdue8RHQ1Xjai7FrcFfn37Qe9de2JaHzJPowW_7VZ1ofV_zvPvywI4FoBv2k9D08rotbmEAa6AyH2MOjJe_2m6dqSqfh3XLleR6_ZsWKgLcHutP_GUWkhPDu1MB9p8W53WsQZMyNrU_8dBt2ajKPUjAIxf-mFIKLgZQnH8FLrrjd_Tfc5VgRPNdymD7dHsGsMeVIC8mIZsuGIGzikmIlNXsT9vc5PJKw2CHgkTcj8RIDln7mLIDlU_0CJ9zcQP3dOWzz2a36ym0lKbAF1Gbei8H4J5NpJgn_267c5cdOLolxFR5tkWak3hSW10YTNuN8-MyIVxDByqyiFHcnqR-EokRPUZD1WoDi96LDlLQwRmgZypN7F-rpCGhWEJvHiLauV2facHTYMRLAhyNs6Th9AJK5NrvXpTCnW6-_ZaoYn9l7ft_YpCAeEWZEc-hfP97yE6UXnn5IEtz_rjrPonNv7YmIytsbftu_hn3CxH-Tf3MfgmVkXTirlHxgOFaAnm2WOgNP1H8-jH6FhfmVxxXUWGhovT6EopeINyYPHR784A=w398-h292-no
   price: 27000
   tags:
   categories: 
    - arte
   description: Bonsáis de Jade o pino, con materas pintadas a mano del color y mensaje que desees.
   variation:
    - https://lh3.googleusercontent.com/xtNvIG3HRpsBSMITts78Zrs_-Qi3fpbPkSOFyJRMDsypY9AMAQ-KX1zYMPbSvA5G7OQ3CuWhiP28SZM7HWi6N6lr9axKtuwdOYabDs1DKLjmv79r7Bb7YARIDAVrIucanVWHDRGwKr09SucuhIm2S-Ioa6_u1huM45O-hiRPf9emZ992JXlxSHAc5csBedAReGrlDOTs67UeqACkQk4zpFo-Smp4lPolmWkVR5-QLFYwlwEEf2_mo6Cmur8wWUNSRWo1N753fj5ZFYW2eCpfh1RcBTnZyrETuVHKk1HgsbQkIjlf-3Foh783jcSErOoA_H1M0pntERtjOkx3SsBIekz64oBvONN5gwBPPC7eCTy1POpcGmwJnsIq18LlB-jAWojtgrSLcFZBL_E27qj7fzaKDnGBYQtsZrcyzeYcBkVR05YDvmtU2mRG0x1P-fMGl7DTIXsXNWLpQEQhTV9g8GPfEQ42HvpCSg8kviLMKLxrsVYhAN33GUZwQ9l_dWX9QWZ04B5oRaCWrMIbv6Gko9mfjjvF42yNT3sHgY_4UZSeGiK2kgcHJh3-dK78aItMYDp2DwaYsKUtU_ztM8YbDlpwl6ga6WNBEsy-vpXHxehcKJjFgQ=s540-no
    - https://lh3.googleusercontent.com/IbxZlhSpsXWnaSqogzpE64CnON_NPXDG43_rgK_qQMKRm8Qiy8IwFtuHth1zORrYJSCnXbY4G2A17wze6z2Z--7KF52vKgvWfSZ6duBvA-EoR5LD3IBRVKByD7_tMRFjsJHroRs3nBS6ECWPO-lSDOSy_krXu0KLC29CfJ4cgZlhUu7XJqhmHdufnRM_nrkEwJqmqLBBVled9NpVED0K7vojJmOV89ClAn4pj8SbFGVlOf_ecObJJVdbeIx3Q3rOKAkKUumX_41p6DXoCnP4-57K2gV0v5RYvqLzzHFiFar_WDgWeGRna5ORmVPBACAPAbHFkaswTfNn96NIOUomOVLRsLgCEjygvdwsPqE3fygwHDYPZvJtoWJVU3TuHxcecoV5oDW-I55xzpTgymdyL5GY7voEVP6lLJs0krGUYRhAqg45VmNzWHbUAXypMBKELaURuhVjRT5tv09X5_dVjOZ9vwkzNxj0mJvopRclpVsoR9dp-1YWa1RSWr3SMCoXEUv46dvx3hMn37yQVesN08VwlMfIVBR13ZNL66_E6P4-JhfbmuviKPB3UDFEaQYZir2gF90p_WrCYBw8IKOBT-0MbdERcho8vdTugMRPuPjO6Yy3DA=s540-no
    - https://lh3.googleusercontent.com/XfdkYIH25yXYUljgl_R3-OBH8iV9FH685Yl2BxuD1lfiAf_eNM2NNsbp8G0mPsiu-_e8McOswr1pwIsyfPvRI6jH48v2zronrG8PRCIExYug_i4J2-7ZGwAHT3u7vecneTbGEDN2SvYmPy4Ck2z1w51pHZM0LQdDJPhDZDHSPpu9sXQyBN5qagZ2aPoZgZpXWH0EtC-Mc762lHjZYPSSn4SUe_euwXbfk-48-JDlBkhPwfbjDftnpWSnf-UF3FAqCpQG3HxyAEnuBwF_Mmm-XLJbyWZtZ2GCtzsk5z_bn269KnbnHYzJmCY1lrA4khEixAgumM47gRFnA3RIfSaL6esCdCRopE8Iqcr34EZF3PQ1wml-SzBo7SpIcVtWfnvN_vAdRG-GdASOzJkYyXPsAesnpyrGk6i-pjLQekP31hH_THZ1tOGf_yazkpODZNRKd30gkVT-pAOPqhCbDQ-gQhitfqHzVWJG3YjoFaiH4rBBej55GEKlOzVPbHEO0BeWs1hKLecbVwSsdjrGuPo7W_sGr-GSTHR_ce3fUUl4OKrG0rj145N-lEMI1TR-i-1BWPhapwv76Ly4QydmR__wsUUGQsGX6toqB5gyrG3S4y2IxmVbnA=s540-no
    - https://lh3.googleusercontent.com/8AGiwBSl_tQa4MY2mBNEX42GHsjqMhG7UeGSlirUbrcGomHBwKQgMIfA_oQgg5SKjO_mTme5BDeC0Cmy5WYQpRwUQtTwIrXHqQXH3XMjQEMWQh9R9ShKvv80vanLzUcX871dF7B5uhFex3SBvr37sW3rwQ6ems2tZ2Lm3yYLoLeUVyXzxggsmQUkYP_W_N8BTMpSHuIPoLD-LmH8JsGWigxmxoE3adzAEpH7Uam4OLfaE8qOwoxCnycSxmG0u4nJSRB124i8iEE4q8gUgq3bZfjzGgWbZMaYLKFVnX131Rr9guGRHnqh6dmMh6Epy8-hLWXiPmwfInr93ZhzR_bheUDYB2Kx37nH2jZGNYMIACEPJT9c1jRcOPFWq39ZmLXvOX-cq3upgMHOInBgnRCEXzf5hBZBjRVJ6etUxDv2pyjBKmP4RwyIQCC9lC4iUKV2D12gqtnjy4ysKAhp_LTpm-JGgMs2gme2gUp6rrnG3Yx7FQ8pZutqkVuC6Jiieaen_oyCsdu3EyQJ77kGHkQA0MnFFy7po4rotJkrxZIMRlu4lbU9MhYj89BW5MPl1m5145aegFZcNIMSv2m913MP9yEhr3wKJtdWhVVzo0VvPBxdE-qwqg=s540-no
    - https://lh3.googleusercontent.com/Mizi1L8comFAlnk-3LdTHKYOEOqRpVr1bG8GhvOOVbgQ8xG4uVRz0nBbTngXG_AARlQ7lSNON2upPaPui2Ef3NV46aagIKgmZmFSzawakVilEONLhqg_oxVlEU4JqopkCqqmD59sA9njM_FuVl5pLBsE-HQXa-P2nlN4TsDVQ6_ODq1_Vcqo2Lbx8y2NdjGTKTpMddqIbPpGyojnCi3EyVcPOYeJR3bQ8YzduUyFVhG0RxTZCXMe7nEuOQUxqW9ou2z7A3beVpOqklQXRLktuibvfFlKwmR09cqvGVOm37Cf52d8d2MXmsMx9uGD1FCHOwCy9X9XOgJx-Vw7Vk5ogQsLAhdM0YMJ62bBVgSC3g01FOchSx6HvWVgTW36YeR8e8GeiPf90AL4gnEZB0ji2y07nJ5Uwm5UMZkOciHhUb6lDZ3vAC0WnsrhTnSkJiQKZzk54DI3-cBTulZGfV1cddApuLJ2DITsdUl6eMekjERnPqnt4UuD2G0Bn9V-lxagjq9aOYYu4IGssEYg4LHqmbaf9HgtY3lzx8xNXih4eLpWPQQoIXfkYmpnelAurPfiFeQ3pMLEPiDSlAAONhIDlL9jt-Dg2GFv1hohuvTatlnuZNXiXw=s552-no
    - https://lh3.googleusercontent.com/v9Iq_3ZALBHCv4zaW3_ALkHTAz766wtzHcTl6wbATZd55N-KYXk2uZRh-xaHjuOe_nE06MgnG3XwMa3qwmGdQKaLSSboPYziDfvoIATWuDKprdFLC-E3snMwPE910LM6xyoTTNMDmPm9zFX1mOGTcADp1KbGojrnP565Alh9HHfdxS_O-0Une4oyXVzwe8wUARBnE-Au0y6qbamhIgDWn4xjyI6UoEY5JbEYZ3wHdRV3EqWzcp8M64rSccbV3ZprZKtHRobxrpZqItoqGR-64EmrPahBmLNkjNTYHpYrKxwNmXRhUQnztcqBAKb8LLU54YwDGK8O3Jp4-PnNu2UAHs5I4oN3WJgcFGdIuGQGGFh9X2cdO4YCTvzh9xhYmN1jtjWyXdKanNMPDuyJF2P3D2-63vBsRHC3CNHkOPZ7ySSPsOcFjSjbDmw4-ZrgXPU_egu-s8aBBcDqtWsla0eK8YjgduWpSe1MEMiZdn6b2GYB8nL08zQcGQvwXkxYSieji5m5-LN65pblQYGFlOi_rNjgv1m9XKk8J6tO7HNS4wSk4RJhSb1zC7mz60iKkWBxzxf9crgoVHNh_7QazX0yM74lcBpx6tmXMSAFarxs5X0wKoBAwQ=s552-no
 - title: SuperKit corre por tus sueños
   img: https://lh3.googleusercontent.com/eABB-YVNmsp1iMuZKbBhpJfxFMOZpX0Or8O6addMfrDKgDzjK90fhMdBioVggfbSa4wR-aE18PfWFG1iABWLg5F39IN-viPBH_2eLaQO-xgvmIbodtnqX-msFY4v2XY9xMZYF5N9WWdRY6wa9w-YTmYsXlpYoKL9B3P0X9qe1-OFaNkL40v8Ou6owKoaxdOg1NiH0HPN0ql9ueXDBdoCUnC8plMDEWvL64TLBPILFNQmXcflb1zKdedkZPrsAx8HNVejHKZaNd_1HT8FByXIvmSuYZ29oRNJ5iIk2KZm9e80s0orf28sVi_Sv2ng9fDD3sGn0_ttoqbiry258qPTmNJucEXJfozB6zcPkgLDDRfT6NdP82AUSKKh43GDo7AvMVMnBvONZxHTjnyzx24N_fQqwuqIyhUmI5k47YXk-zzqjHzG6X6VFPuTeiHr78NLRM2cFzsOn3khDUy3Ql_3J6nL3F5GinpZpF1cu4B3BvkvCenYW3c08GOwTRMLY2lc6vbKhpdzyEFfRt5HiATNwGKQw6Sr3oLgyhS7quPvPW-2olcmYvBg8qB8UE41N46uUAtOPBEdZlvl6687vwLShtmfsQYQZrmMF1_rKXiWqZxo4poGrA=s552-no
   price: 18000
   tags: 
   features:
    - Puedes elegir el color de medias verde-gris o rosado-gris, en talla 9-11, al igual que la chocolatina blanca o negra rellena de un crocante crispi.
   description: "Este superkit consta de un par de #medias o o #calcetinespersonalizados con la frase: CORRE POR... TUS SUEÑOS y una dulce chocolatina."
   categories: 
    - vestir
   gallery:
    - https://lh3.googleusercontent.com/xgzUL1ir0OLNC8W4Dc1J4wzx8NsF80zF36kRQ42i1Tf99ROHj0aBvuf9Gxn-1XYeA2wKMDDYvQv9yQJwiEww6mho9HJUwAK5GUNCPJeWwApw5v-PJJBqM9qY-XqUn8wmSf5IsGiCBFCJSv6pQKfsiHynMDjv0QIO4CocTUTE0GezFbt4E7OgPV2FnrvX1D3BtZS2r5BaDnDKk6AF2dSEx5PhHTOkJhlnEjUGe36bZ7Kks2moYvUEUZEeerqinbMem5Uxt8oeXhaoVh0xA0_biVo9YTn_1bWWoeBFJdnNvoe1jA0_z_6MMYrBalVFu4_mT0lYqk66yN4UmsrZGE-w_d3Bkds-qlWiFw7ZCCvPjJAUsnjqzmlqQ5-3g4D3BNrlTCk3Ovb-EWAiS1T69kRjnqAjXr7e546xUgnlQbxdfQtefjhV-GJJBHHo61JxKYyZsRHRb8Tkqolxu4lPIZYHwUEZvvNQItaZxykp07BAItm62hXZHgzi8TS_1ibkEnxA7voNQvPYtLo2sW0o-jzXm8zLX5zDggbd_l14CN1Vw6zzyIonYKuJRvSoHS_1WjCzz4jxww50prV3yJX1ITvj0skGwTHAJpqg3RDFtpYbl7dz7Oe3yw=s540-no
    - https://lh3.googleusercontent.com/qk93ul7859q7MkdOr_c7fYsXCDIm4hHvGmEbLhxXRk8Vaje8Jd6zKFyoGOCvmeYKkdQo6gFAjDtbXCNVBCiSpvZWsxYEdNuSdlYh0720zbsw4aaTnmSB5gVIDKVvzpMdYsfBDMXZKVQEBGgOqc06bSVnF5PnQ8MFQ2LGmO5Zpl76gIhX8O1vq_OmEKwbWngqcZBt4xjSERADjJ6jcRaz1v18nk_QZFHQxt84SkUG7e_gxfHhJRqWz2861aihNG_6fu2hqq38SmkZo_dgGyR66jnSFtEtqVBgSW0QWvNmDxJ9Xw8i73up-8ybB4KYzS-ofXvkOkWUdRdxy2q7DhpJU12kfTgwxOSmqkjiV7C_x4tbSe1vbMLT0Un31i4dYVsc9D9xR2PeEENOWypzO55JOKLLoo_NlaHkh6jqo8v4csSpsksshSqiemG2vjXK6tJc_TAaKzWPGugH9KTgpoWJiaFhmyRCZ_dRQShidj5whMKoB0zpjazCsigbMzA7p2ed6uDxNZ-2YkabV24PO7RaCTUGcAGDtLIfOYewoJ1G-5JkKQZcFoQlrFK3g2J8MiZswRoCROsU-Vgc8Kd9b8ywGtvxvclIablO1lrzscNPciYIR78FIQ=s540-no
    - https://lh3.googleusercontent.com/VpW0EMH9C2e40GLZIIWZfYt8E-Fr8YwehC8MCnv063yyNlvE1lFl4SW4zV0oou0Ujt2idPWwa-BxFBA3fSbx45_9LsEjUVadDDOmI4fnDKjgAQHbFoMPKTig-t6-KL_6iT1-lh8ktdcFY_8hD0wwLzsAsraNllovWuaFemYLBCniRyz9E3Ni462iTbBGs1aNj5vNzswmmQoElToVGHZUX3YLsuQZq46X4cP8cmTSVliFlraqrqaBDqLB6psM1MqXcMjSauqyCLMdm1UdGZoPrexhmiqGaxbo63e36cS42XzGDpwp8J6jVBvhzucQJaVXeUqvfXQE9RvALD85dm1Fxiwl-ryXVLM4ZzCe2XtHGPC95IdS4a1WqSs_Qqc4w_wYpiQKufcuNm2INubeLsJ5_hDBCNMTf3mL3gQsT0P5xFesSzPuvzylWlsx5F-NAgN_bHpTTFC4g2nZBFHoOy2L3i_4mhkpI90_BN13AIuY6amB4XO4BMmD3m34GvlM2DUJ5Idbgijzn-1XEliEhVKyWo3cYRC78yR_3t9x6F8cWN9oKpg2SjSOUIBnrdQGI3bL7REN-M0jQJF6KZO9g5VjJU3MFjPjauwV_ABYhCz_XQNkHHvqKQ=s552-no

 - title: cuelgallaves + cuelgabolso
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xtp1/t45.5328-0/c0.37.552.552/p552x414/14058365_1080873978615913_2109191610_n.jpg
   price: 23000
   tags: 
   features:
    - 
   description: Perfectos para no perder las llaves y colgar tu bolso, y así decir @quelullada. Puedes pedir los productos por separado y personalizar tu caja
   categories: arte
    - arte
   gallery:
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t45.5328-0/c46.0.540.540/p180x540/14057590_936802443092360_988361282_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xft1/t45.5328-0/c0.70.552.552/p552x414/14057528_1367188436625494_419859104_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/14058516_969296516515006_2033528756_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c0.0.539.539/p180x540/14058504_433094750147885_1204960705_n.jpg
 
 - title: Ecokit
   img: https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.109.552.552/p552x414/14058394_1093444720740545_235909645_n.jpg
   price: 20000
   tags: 
   features:
    - 
   description: CON LA IDEA DE SIEMBRA, RIEGA Y CUIDA, este proyecto ES PERFECTO para grandes y chicos, puesto que incentiva y crea cultura de siembra
   categories: 
    - arte
   gallery:
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.109.552.552/p552x414/14058394_1093444720740545_235909645_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpt1/t45.5328-0/c0.92.552.552/p552x414/14058425_1509307252428244_217555821_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.0.540.540/p180x540/14058463_1161084437297466_431057551_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c90.0.540.540/p180x540/14058559_1203575343038666_612875294_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t45.5328-0/c0.34.552.552/p552x414/14057676_1323200411057855_1964114244_n.jpg
 
 - title: Picnikit
   img: https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c90.0.540.540/p180x540/14057468_1149898831748898_1592434601_n.jpg
   price: 90000
   tags: 
   features:
    - 
   description: "Si estas cansado de los mismos planes cuando sales y sólo quieres tener un momento o cita relajante, divertida y especial, solamente debes llevar tu #picnikit y estar preparado para abrir tus sentidos y sentir todas las sensaciones que te producirán el compartir de una forma espontánea y natural.<br>
así que prepárate, déjate llevar, disfrutarlo y di @quelullada.
Elige entre verde, rojo, amarillo o azul para tu #picnikit 
Nota: el #picnikit no incluye comida, pero si deseas tambien la podemos incluir."
   categories: 
    - alimentos
   variation:
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/14058552_1076356679109197_2116347271_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xat1/t45.5328-0/c0.0.540.540/p180x540/14057547_765294173573421_2140331863_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xft1/t45.5328-0/c80.0.540.540/p180x540/14058362_1081958328507747_185210902_n.jpg


 - title: Deselectromagnetizate - plato
   img: https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xtp1/t45.5328-0/c0.0.540.540/p180x540/14057722_1153441944694006_534130303_n.jpg
   price: 24000
   tags: 
   features:
    - 
   description: "Las #deselectromagnetízate” son materas de diferentes formas y colores, que puedes personalizar, además de incluirle un mensaje personalizado en su base. <br>
tienen como planta a elección sábila, suculenta o cactus, que pertenecen a una misma familia, las cuales han demostrado tener una enorme capacidad de adaptación y se han podido desarrollar en los interiores de las casas, convirtiendose en las mejores plantas de interior por no necesitar de tantos cuidados, a parte de que estos últimos absorben contaminación por los campos electromagnéticos generados por las radiaciones de aparatos electrodomésticos.
Que esperas elije tu planta, colores y msn favorito y di @quelullada.<br>
Nota: Todas las #deselectromagnetízate vienen empacada en caja."
   categories: 
    - arte
   variation:
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t45.5328-0/c0.0.540.540/p180x540/14057689_1228979430480878_1612528781_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.0.539.539/p180x540/14057605_1122672744492813_539716317_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/14057542_954506081325907_20097456_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.0.540.540/p180x540/14058435_1170831672988896_921899935_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpf1/t45.5328-0/c0.0.540.540/p180x540/14057504_983186271804851_2138044607_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpf1/t45.5328-0/c0.28.552.552/p552x414/14057669_962379223889030_2038031770_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xpf1/t45.5328-0/c0.0.540.540/p180x540/14058371_1436243166391618_892436423_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c163.0.540.540/p180x540/14057659_996156380510850_862928567_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/14058568_1284376588263006_828023313_n.jpg


 - title: Deselectromagnetizate - borde
   img: https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/14057708_1078595605581911_2117216164_n.jpg
   price: 24000
   tags: 
   features:
    - 
   description: "Porque con estas #deselectromagnetízate con una palabra lo puedes decir todo.<br>
Que esperas!! elije tu planta, colores y palabra favorita y di @quelullada.<br>
Nota: Todas las #deselectromagnetízate vienen empacada en caja."
   categories: 
    - arte
   variation:
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/14057708_1078595605581911_2117216164_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xpf1/t45.5328-0/c0.0.540.540/p180x540/14057504_1547743678584852_520237334_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c7.0.538.538/p552x414/14057700_1373838239294773_117996175_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c23.0.540.540/p180x540/14058485_1072993816071863_11723863_n.jpg
   gallery:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c131.0.540.540/p180x540/14058564_1080582071990728_1127472468_n.jpg

 - title: Lovebox
   img: https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c65.0.540.540/p180x540/14058463_1162418443831081_809017557_n.jpg
   price: 18000
   tags: 
   features:
    - 
   description: "El perfecto detalle para tu #personafavorita, Las #Lovebox constan de 3 deliciosas galletas de vainilla cuyos mensajes son impresos en papel comestible, para que te las comas todas toditas todas. La diversión empieza marcando tu caja con el nombre de tu #personafavorita y al destapar la caja encontrara 3 razones por las cuales es tu #personafavorita, cuando ya se halla comido todas las galletas, le recuerdas con un mensaje al final de la caja donde le dices que #personafavorita solo hay una y que la volverías a elegir todos los dias y toda la vida. Regala tus #Lovebox y di @quelullada.
<br>
Puedes elegir entre los 4 colores de cajas ( azul, rosado, verde o morado) y elegir entre los dos paquetes de mensajes disponibles (bode azul o borde rojo)"
   categories: 
    - alimentos
   gallery:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xtf1/t45.5328-0/c0.40.552.552/p552x414/14058432_1221474791252110_1466092459_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.539.539/p180x540/14058439_1187366897952549_564044740_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t45.5328-0/c50.0.540.540/p180x540/14058577_384848151638945_1000793596_n.jpg

 - title: Deselectromagnetizate - conica
   img: https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t45.5328-0/c90.0.540.540/p180x540/14057647_1064106453658319_1416322071_n.jpg
   price: 24000
   tags: 
   features:
    - 
   description:  "Que esperas!! elije tu planta, colores y palabra favorita y di @quelullada. <br>
Nota: Todas las #deselectromagnetízate vienen empacada en caja."
   categories: 
    - arte
   variation:
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.0.540.540/p180x540/14057590_1021249114649935_2080659671_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c236.0.540.540/p180x540/14058409_1397995410216143_229442310_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c90.0.540.540/p180x540/14057453_1376770409004446_648360191_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.0.540.540/p180x540/14058453_894305027342848_1398797415_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c0.0.540.540/p180x540/14057464_1211592235528639_665918367_n.jpg
   gallery:
    - https://scontent-mia1-2.xx.fbcdn.net/l/t45.5328-0/c0.0.539.539/p180x540/14058482_1152436258164268_1128325873_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t45.5328-0/c0.0.540.540/p180x540/14057467_1441735652520066_1490686283_n.jpg
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c210.0.540.540/p180x540/14057659_932100980227044_1099969546_n.jpg

 - title: Trikiman
   img: https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/14058533_1171054052938187_2061135067_n.jpg
   price: 40000
   tags: 
   features:
    - 
   description: "El famoso juego del #triki puede ser tuyo... que tal una jugadita para ver quien lava la losa mientras cocinas? ponlo en superficies imantadas, y a Jugar!!!. y por supuesto di @quelullada <br>
Incluye tablero y fichas. Puedes elegir tus colores favoritos.
También puedes llevar solo las fichas."
   categories: 
    - arte
   variation:
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/14058533_1171054052938187_2061135067_n.jpg
    - https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/14058437_849685855131586_1954120268_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t45.5328-0/c0.0.540.540/p180x540/14058440_1090270414399219_255602547_n.jpg

 - title: Retablos
   img: https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t45.5328-0/c0.0.540.540/p180x540/14058518_1002638103180877_1207701139_n.jpg
   price: 20000
   tags: 
   features:
    - 
   description: Estos lindos #retablos son perfectos para poner en escritorios, personalizarlo con tus frases y colores favoritos y di @quelullada.
   categories: 
    - arte
   variation:
    - https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-xpt1/t45.5328-0/c0.0.540.540/p180x540/14057723_1187587791302096_941951863_n.jpg
    - https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xfp1/t45.5328-0/c0.0.540.540/p180x540/14058448_1058564200907945_564097508_n.jpg
    - https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t45.5328-0/c90.0.540.540/p180x540/14058499_1394857410542303_1404431797_n.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	{{>style}}
	<style>	.parallax-container {height: 500px;}</style> 
</head> 	
<body>
	{{>analytics}}
  {{>general/facebook}}
	{{>general/nav info=front.nav}}
	{{>landing/hero-shot-facebook2 info=front.main-img}}

<div class="blue-grey lighten-5"> 
  <br><br>
  <div class="row">
  <div id="product-space" class="col s12 m12 l12">
    {{>general/products-section-details info=front.lullada id="quelullada"}}
  </div>
</div>
<br>
<div class="row center">
      <img class="responsive-img" src="https://deduxygames.files.wordpress.com/2016/08/unnamed.png" alt="">
</div>
{{>footer}}
<script src="/js/min.js"></script>
<script>
 $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
     $('html, body').animate({
      scrollTop: target.offset().top
    }, 1000);
     return false;
   }
 }
});
});
 /*
 * PIEZA DE CODIGO DOCUMENT READY
 * activa las diferentes partes de materializecss 
 * y otras cositas importantes
 */
 $(document).ready(function(){
  $(".button-collapse").sideNav();
  $('.modal-trigger').leanModal();
  $('select').material_select();
  $("#nav-mobile").removeClass("hidden");
  $(".parallax").parallax();
  $(".cancel-icon").click(function(){ deleteProduct($(this).data('name'))})
  $("input[name='tipo']").click(function(){
   filterClick();
 })
});
</script>
{{>microdatos}}
{{>landing/registry-form}}
{{>project/carrito info=front.payU}}
{{>project/subir}}
</body>
</html>

